<app-top-bar (onUserButtonClicked) = "userslider.toggle()"></app-top-bar>
<md-sidenav-container class="ky-app-container">
    <md-sidenav id="mainnav" mode="side" opened="true">
    <div class="ky-scrolling-content">
      main nav
    </div>
  </md-sidenav>
  <md-sidenav id="userslider" #userslider mode="side" align="end">
    <div class="ky-scrolling-content">
      User
    </div>
  </md-sidenav>
  <div class="ky-scrolling-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
